/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
/* color fondo */
body{
    background-color: white;
}
/* ----------------navbar--------------- */
.navbar-collapse{
    width: 100%;
    justify-content: end;
}
.navbar-collapse a:hover{
    color: black;
    font-size: 18px;
}

/* -------TITULO INDEX----------- */
.titulo{
   margin-top: 60px;
   font-family: 'Monoton', cursive;
}
.titulo h1{
    font-size: clamp(1.5em, 5vw, 5em);
    letter-spacing: 3px;
}

/* --------QUIENES SOMOS------------ */
.somos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr))
   
    
   
}


.somos .img{
   justify-self: center;
    max-height: 50vh;
    max-width: 50vw;
    margin-top: 2rem;
}
